:root
{

--vxa-hav-150: #002026;
    --vxa-hav-125: #00303A;
    --vxa-hav-100: #00404D;
    --vxa-hav-50: #7f9fa5;
    --vxa-hav-30: #b3ccd0;
    --vxa-hav-25: #bfcfd2;
    --vxa-hav-15: #e7edee;
    --vxa-hav-10: #f7f9fa;
    --vxa-hav-5: #f9fcfc;

    /*Horisont*/
    --vxa-horisont-100: #006b85;
    --vxa-horisont-50: #7fb4c1;
    --vxa-horisont-30: #B3D3DB;
    --vxa-horisont-25: #bfdae0;
    --vxa-horisont-15: #d9e9ed;
    --vxa-horisont-10: #e6f1f3;
    --vxa-horisont-5: #F2F7F9;

    /*Marin*/
    --vxa-marin-100: #054257;
    --vxa-marin-50: #82A1AB;
    --vxa-marin-30: #b4c7cd;
    --vxa-marin-25: #c0cfd5;
    --vxa-marin-15: #DAE3E6;
    --vxa-marin-10: #E6EDEF;
    --vxa-marin-5: #F2F5F6;

    /*Mossa*/
    --vxa-mossa-150: #23403A;
    --vxa-mossa-125: #356058;
    --vxa-mossa-100: #478075;
    --vxa-mossa-50: #7F9FA5;
    --vxa-mossa-30: #C8D9D6;
    --vxa-mossa-25: #D1DFDC;
    --vxa-mossa-15: #E4ECEA;
    --vxa-mossa-10: #EDF3F2;
    --vxa-mossa-5: #F6F8F8;

    /*Vind*/
    --vxa-vind-100: #66BFB5;
    --vxa-vind-50: #B2DED9;
    --vxa-vind-30: #d2ece9;
    --vxa-vind-25: #D8EFEC;
    --vxa-vind-15: #E8F6F4;
    --vxa-vind-10: #F0F9F8;
    --vxa-vind-5: #F7FCFB;

    /*Berg*/
    --vxa-berg-100: #575757;
    --vxa-berg-50: #ABABAB;
    --vxa-berg-30: #CDCDCD;
    --vxa-berg-25: #D5D5D5;
    --vxa-berg-15: #E6E6E6;
    --vxa-berg-10: #EFEFEF;
    --vxa-berg-5: #F6F6F6;

    /*Kalk*/
    --vxa-kalk-100: #EDEDED;
    --vxa-kalk-50: #F6F6F6;
    --vxa-kalk-30: #FAFAFA;
    --vxa-kalk-25: #FAFAFA;
    --vxa-kalk-15: #FDFDFD;
    --vxa-kalk-5: #FEFEFE;

    /*Svart & Vitt*/
    --vxa-svart-100: #212529;
    --vxa-vitt-100: #ffffff;

    

    /*Spacing*/
    --vxa-spacing-1: 4px;
    --vxa-spacing-1-5: 6px;
    --vxa-spacing-2: 8px;
    --vxa-spacing-2-5: 10px;
    --vxa-spacing-3: 12px;
    --vxa-spacing-4: 16px;
    --vxa-spacing-5: 20px;
    --vxa-spacing-6: 24px;
    --vxa-spacing-7: 28px;
    --vxa-spacing-8: 32px;
    --vxa-spacing-9: 36px;
    --vxa-spacing-10: 40px;
    --vxa-spacing-11: 44px;
    --vxa-spacing-12: 48px;
    --vxa-spacing-13: 52px;


    /*Lägg till Font sizer, letter spacing, letter height...
    Lägg till border radius och andra värden... */

    /*Border Rardius */
    --vxa-border-radius-1: 4px;
    --vxa-border-radius-1-5: 6px;
    --vxa-border-radius-2: 8px;
    --vxa-border-radius-2-5: 10px;
    --vxa-border-radius-3: 12px;
    --vxa-border-radius-4: 16px;
    --vxa-border-radius-5: 20px;
    --vxa-border-radius-6: 24px;
    --vxa-border-radius-7: 28px;
    --vxa-border-radius-8: 32px;
    --vxa-border-radius-9: 36px;
    --vxa-border-radius-10: 40px;
    --vxa-border-radius-11: 44px;
    --vxa-border-radius-12: 48px;
    --vxa-border-radius-13: 52px;

    /*Font letter spacing */
    --vxa-font-letter-spacing-normal: 0px;
    --vxa-font-letter-spacing-wide: 0,1px;
    --vxa-font-letter-spacing-wider: 0,25px;
    --vxa-font-letter-spacing-widest: 0,5px;
    

    /*Font size */
    --vxa-font-size-xs: 12px;
    --vxa-font-size-sm: 14px;
    --vxa-font-size-md: 16px;
    --vxa-font-size-lg: 18px;
    --vxa-font-size-xl: 20px;
    --vxa-font-size-xxl:24px;
}

/*Detta är kopplade färger till färgsystemet*/
/*Lägg data-theme="[name]" i html taggen för att kunna ändra olika teman*/
[data-theme="user"] {

    /*Meny färger*/
    --vxa-color-nav-menu-background: var(--vxa-hav-30);
    --vxa-color-nav-meny-border: var(--vxa-hav-50);
    --vxa-color-nav-menu-text: var(--vxa-svart-100);

        /*Application*/
    --vxa-color-body-text: var(--vxa-vitt-100);
    --vxa-color-body-background: var(--vxa-vitt-100);

    /*Badges färger*/
    --vxa-color-badge-border: var(--vxa-berg-50);
    --vxa-color-badge-background: var(--vxa-vitt-100);
    --vxa-color-badge-text: var(--vxa-svart-100);

}

[data-theme="admin"] {
    /*Komponenter färger*/
       /*Meny färger*/
    --vxa-color-nav-menu-background: var(--vxa-mossa-30);
    --vxa-color-nav-meny-border: var(--vxa-mossa-50);
    --vxa-color-nav-menu-text: var(--vxa-svart-100);

        /*Application*/
    --vxa-color-body-text: var(--vxa-vitt-100);
    --vxa-color-body-background: var(--vxa-vitt-100);

    /*Badges färger*/
    --vxa-color-badge-border: var(--vxa-berg-50);
    --vxa-color-badge-background: var(--vxa-vitt-100);
    --vxa-color-badge-text: var(--vxa-svart-100);
}

